In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df =pd.read_excel("df_limpio.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22735 entries, 0 to 22734
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   folio               22735 non-null  int64
 1   tag                 22735 non-null  object
 2   folio_solicitud     22735 non-null  int64
 3   fecha               22735 non-null  datetime64[ns]
 4   marca               22735 non-null  object
 5   modelo              22735 non-null  object
 6   plazo               22735 non-null  object
 7   precio              22735 non-null  float64
 8   enganche            22735 non-null  float64
 9   descuento           22735 non-null  float64
 10  semana              22735 non-null  int64
 11  monto_financiado    22735 non-null  float64
 12  costo_total         22735 non-null  int64
 13  monto_accesorios    22735 non-null  float64
 14  agente_venta        22735 non-null  object
 15  dis_venta           22735 non-null  object
 16  status              22735 non-null  int64
 17  fraude              22735 non-null  int64
 18  empresa             22722 non-null  object
 19  inversion           22735 non-null  int64
 20  pagos_realizados    22735 non-null  int64
 21  reautorizacion      22735 non-null  int64
 22  fecha_ultimo_pago   19379 non-null  datetime64[ns]
 23  fecha_pago_proximo  19379 non-null  datetime64[ns]
 24  status_cuenta       19421 non-null  object
 25  puntos              22735 non-null  int64
 26  riesgo              22735 non-null  float64
 27  score_buro          22735 non-null  int64
 28  razones_buro        15395 non-null  object
 29  porc_eng            22735 non-null  float64
 30  limite_credito      22735 non-null  int64
 31  semana_actual       22735 non-null  int64
 32  cp_cliente          15492 non-null  object
 33  edad_cliente        9627 non-null   float64
 34  cd_cliente          22735 non-null  object
 35  edo_cliente         22735 non-null  object
 36  cd_venta            22735 non-null  object
 37  edo_venta           22735 non-null  object
 38  curp                22735 non-null  object
dtypes: datetime64[ns](3), float64(8), int64(13), object(15)
memory usage: 6.8+ MB

**PRECIO**

Vamos a analizar la variable "precio" debido a que esta será nuestra varaible dependinte que pasará a convertirse en variable diatónica.
Gama baja - Gama media

In [3]:
precioStats = df["precio"].describe()
print(precioStats)

count    22735.000000
mean      3997.036591
std       1361.507164
min        973.240000
25%       3049.000000
50%       3549.000000
75%       4899.000000
max      14900.000000
Name: precio, dtype: float64

In [4]:
# Elegimos las variables de interés para poner a prueba el modelo
precio = df.iloc[ : , [8,9,11,12,13,25,26,27,29,30,7]]

In [5]:

# Calcular la media de la columna
meanPrecio = precio["precio"].mean()

# Definir una función que asignará la categoría
def categorizar_valor(valor):
    if valor > meanPrecio:
        return 'Gama media'
    else:
        return 'Gama baja'

# Aplicar la función a la columna y crear una nueva columna con las categorías
precio['PrecioGama'] = precio["precio"].apply(categorizar_valor)

# Mostrar el DataFrame resultante
print(df)

       folio       tag  folio_solicitud               fecha     marca  \
0          3  HDNAWQ3A               30 2021-11-12 19:00:00       ZTE
1          4  M418YNR4               33 2021-11-12 19:15:00  MOTOROLA
2          5  SZ7V3NZT               37 2021-11-13 14:13:00       ZTE
3          6  9I08UIQZ               38 2021-11-13 15:45:00       ZTE
4          7  JMF4LKYU               44 2021-11-13 16:10:00  MOTOROLA
...      ...       ...              ...                 ...       ...
22730  22967  92KQVRIX            96502 2023-04-18 18:45:00  Motorola
22731  22968  NWB2EA8J            96479 2023-04-18 18:46:00  Motorola
22732  22969  VDTRJ2W6            96442 2023-04-18 18:47:00   Samsung
22733  22970  PETLF56C            96536 2023-04-18 18:49:00   Samsung
22734  22971  2CI4N2WS            96534 2023-04-18 18:49:00   Samsung

                             modelo plazo  precio  enganche  descuento  ...  \
0                Blade A3 2020 RO B   26S  1949.0     780.0        0.0  ...
1      LTE XT2097-12 E7I POWER Azul   13S  2999.0    1050.0        0.0  ...
2                BLADE A3 2020 Gris   13S  1959.0     490.0        0.0  ...
3                BLADE A3 2020 Gris   13S  1959.0     490.0        0.0  ...
4                             G10 B   39S  4299.0    1075.0        0.0  ...
...                             ...   ...     ...       ...        ...  ...
22730                      Moto E13   26S  3349.0     297.0        0.0  ...
22731                     Moto E22i   26S  4100.0    1209.0        0.0  ...
22732                           A13   26S  4849.0    1152.0        0.0  ...
22733                        A53 5G   39S  9799.0    2799.0        0.0  ...
22734                        A22 5G   26S  5399.0    1086.0        0.0  ...

       porc_eng  limite_credito  semana_actual  cp_cliente edad_cliente  \
0         40.02            5000             26         NaN         23.0
1         35.01            6000             13         NaN         60.0
2         25.01               0             74         NaN         58.0
3         25.01            7000             13         NaN         42.0
4         25.01            7000             74         NaN         33.0
...         ...             ...            ...         ...          ...
22730      8.87           10000              0       97880          NaN
22731     29.49            5000              0       37295          NaN
22732     23.76            4750              0       20210          NaN
22733     28.56            7000              0       78434          NaN
22734     20.11            4750              0       43800          NaN

        cd_cliente  edo_cliente                     cd_venta  \
0                0            0                    Tantoyuca
1          PUEBLA          PUE.   Heroica Puebla de Zaragoza
2        TANTOYUCA         VER.                            0
3      AMXTLAN PUE            0                     Zacatlan
4       TANTOYUCA          VER.                    Tantoyuca
...            ...          ...                          ...
22730            0          YUC                    Oxkutzcab
22731            0          GTO                         Leon
22732            0          AGS               Aguascalientes
22733            0          SLP  Soledad De Graciano Sanchez
22734            0          HGO            San Jose Del Cabo

                 edo_venta                curp
0                 Veracruz  AEVM980413MVZNDR02
1                   Puebla  ZALC610119MPLPRR07
2                        0                   0
3                   Puebla  SAMJ790115MPLNRS02
4                 Veracruz  TEHF880707HVZRRR07
...                    ...                 ...
22730              Yucatan  PACT990804MYNCCH05
22731           Guanajuato  HEGB950620MGTRMN03
22732       Aguascalientes  GADF870205HASLZL07
22733      San Luis Potosi  DELJ700417HSPLRS03
22734  Baja California Sur  RASI030731HDFMRSA1

[22735 rows x 39 columns]

C:\Users\Carlos Casillas\AppData\Local\Temp\ipykernel_15964\2003049238.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precio['PrecioGama'] = precio["precio"].apply(categorizar_valor)

**PUNTOS**

**SOCREBURO**

**PORCENTAJE DE ENGANCHE**