In [1]:
# Cargamos librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.special as special
from scipy.optimize import curve_fit
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
#Cargar archivo csv desde Seaborn

df = sns.load_dataset(name = 'titanic')
df.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [3]:
# Rellenamos Nulos
df = df.fillna(method = 'bfill')
df = df.fillna(method = 'ffill')

In [4]:
# Declaramos las variables dependientes e independientes para la regresión logística

Vars_Indep = df[['pclass', 'age', 'fare']]
Var_Dep = df['alive'] # Variable objetivo tipo Dicotómica

In [5]:
# Redefinimos las variables
X = Vars_Indep
y = Var_Dep

In [6]:
# Dividimos el conjunto de datos en la parte de entrenamiento y prueba:

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = None) #test_size -prueba-

In [7]:
# Se escalan todos los datos (Se están normalizando las escalas)

escalar = StandardScaler()  #concepto de estandarización.

In [8]:
# Para realizar el escalamiento de las variables "X" tanto de entrenamiento como de prueba,
X_train = escalar.fit_transform(X_train)
X_test = escalar.transform(X_test)

In [9]:
# Definimos el algoritmo a utilizar
from sklearn.linear_model import LogisticRegression
algoritmo = LogisticRegression()

In [17]:
algoritmo.fit(X_train, y_train)

LogisticRegression()

In [19]:
# Realizamos una predicción

y_pred = algoritmo.predict(X_test)
y_pred

array(['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes',
       'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes',
       'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no'],
      dtype=object)

In [20]:
# Verifico la matriz de Confusión

from sklearn.metrics import confusion_matrix
matriz = confusion_matrix(y_test, y_pred)
print('Matriz de confusión: ')
print(matriz)

Matriz de confusión:
[[97 11]
 [38 33]]

In [21]:
# Calculo la precisión del modelo

from sklearn.metrics import precision_score

precision = precision_score(y_test, y_pred, average = 'binary', pos_label = 'yes')
print('Precisión del modelo: ')
print(precision)

Precisión del modelo:
0.75

In [22]:
# Calculo la precisión del modelo

from sklearn.metrics import precision_score

precision = precision_score(y_test, y_pred, average = 'binary', pos_label = 'no')  #Precisión en los conceptos dicotómicos
print('Precisión del modelo: ')
print(precision)

Precisión del modelo:
0.7185185185185186

In [23]:
# Calculo la exactitud del modelo

from sklearn.metrics import accuracy_score

exactitud = accuracy_score(y_test, y_pred)
print('Exactitud del modelo: ')
print(exactitud)

Exactitud del modelo:
0.7262569832402235

In [24]:
# Calculo la sensibilidad del modelo

from sklearn.metrics import recall_score

sensibilidad = recall_score(y_test, y_pred, average = "binary", pos_label = 'yes')
print('Sensibilidad del modelo: ')
print(sensibilidad)

Sensibilidad del modelo:
0.4647887323943662

In [25]:
# El puntaje F1 es una combinación entre la precisión y la sensibilidad, para esto importamos
# Calculo el puntaje F1 del modelo

from sklearn.metrics import f1_score

puntajef1 = f1_score(y_test, y_pred, average = "binary", pos_label = "yes")
print('Puntaje F1 del modelo: ')
print(puntajef1)

Puntaje F1 del modelo:
0.5739130434782608

**Remplazar Valores**

In [ ]:
# Verificar los valores sin repetirse de una columna

unico = np.unique(df['class'])
unico

array(['First', 'Second', 'Third'], dtype=object)

In [ ]:
# Convierto una variable a dicotómica
df['class'] = df['class'].replace(["Second", "Third"], "No First")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,No First,man,True,C,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,No First,woman,False,C,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,No First,man,True,B,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,26.0,1,2,23.4500,S,No First,woman,False,C,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,No First,man,True,C,Queenstown,no,True